{% extends 'blog/../main/../base.html' %}

{% block title %}About me{% endblock %}
{% block home_current %}current{% endblock %}

{% load static %}
{% block content %}
<body>

<div id="aboutus" class="flex-horizontal">
    <div class="image centered flex-vertical">
        <img src="{% static 'IA.jpg' %}" alt="my mascote">Kurisutina
    </div>
    <div class="text flex-vertical">
        <p>Hi, my name is Igor.</p>
        <p>And this is my site, created with Django
            and some Python magic.</p>
        <p>Currently (january 2020) 18 y.o., learning guitar and machine learning.
           I will use this website as personal diary.</p>
    </div>
    <div class="placeholder"></div>
</div>
{% endblock %}