{% extends 'forum/main.html' %}

{% block title %}Über uns{% endblock %}
{% block home_current %}current{% endblock %}

{% block content %}
<body>

<div class="aboutus">
    <ul class="aboutus">
        <img class="aboutus" src="../../static/forum/IA.jpg">
        <img class="aboutus" src="../../static/forum/CDJ.png">
        <img class="aboutus" src="../../static/forum/JVH.png">
        <li id="igor" class="aboutus">Igor Anpilogov</li>
        <li id="chris" class="aboutus">Christian Durairajan Joseph</li>
        <li id="joakim" class="aboutus">Joakim Vik Haukedal</li>
    </ul>
</div>
{% endblock %}