{% extends 'blog/../main/../main.html' %}

{% block title %}{{ thread.title }}{% endblock %}

{% block content %}
<div class="thread">
    <div class="thread_name">
        <h4><a href="{% url 'thread' thread.id %}">{{ thread.title }}</a></h4>
    </div>
    <div class="thread_text">
        {{ thread.text }}
    </div>
</div>

<div class="comments">
    {% for comment in comments %}
    <div class="comment">
        <div class="comment_data">
            <h4 class="creator_name">{{ comment.creator.username }}</h4>
            {{ comment.pub_date }}
        </div>
        <div class="comment_text">
        {{ comment.text }}
        </div>
    </div>
    {% endfor %}
</div>
<div class="write_comment">
    <form action="{% url 'create_comment' thread.id %}" method="post">
        {% csrf_token %}
        <div class="new_comment_text">
            <input type="text" name="text">
        </div>
        <button value="hewwo worldu!" type="submit">Submit</button>
    </form>
</div>
{% endblock %}