{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block login_current %}current{% endblock %}
{% block inner_name %}login{% endblock %}

{% block content %}
<div id="loginscreen" class="flex-horizontal">
    <div id="loginimage" class="centered fit-height">
        <img src="{% static 'yozh.png' %}" alt="space filler" class="fit-height">
    </div>
    <div id="loginregister" class="centered">
        <h2>Log In </h2>
        <form action="{% url 'users:login' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input class="LRbutton centered" type="submit" value="Log in">
        </form>
    </div>
</div>
{% endblock %}